$grey-light: #f2f2f2;
$grey-dark: #333333;
$red: #f1356d;


$golden-1: 1286px;
$golden-2: $golden-1 / 1.6180339887498948482;
$golden-3: $golden-1 - $golden-2;
$golden-4: $golden-2 - $golden-3;
$golden-5: $golden-3 - $golden-4;
$golden-6: $golden-4 - $golden-5;
$golden-7: $golden-5 - $golden-6;
$golden-8: $golden-6 - $golden-7;
$golden-9: $golden-7 - $golden-8;
$golden-10: $golden-8 - $golden-9;
$golden-11: $golden-9 - $golden-10;
$golden-12: $golden-10 - $golden-11;